body{
    background-color: #24151b;
}
.div-video{
    background-color: #24151b;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
nav{
    font-size: 20px;
}
/*.wave{
    width: 100%;
    bottom: 29vh;
}
.header h1{
    display:flex;
    height: 50vh;
    width:100%;                  
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#ffffffe5;
    font-size:60px;
}*/
.dropdown-menu li a:hover{
    background-color:#5f1a37;
}
.dropdown-menu{
    background-color: #5f1a37;
}
.dropdown-menu li a:hover{
    background-color:#5f1a37;
}
.slide img{
    height: 120vh;
    
}
.input-group{
    width: 50%;
}
.container{
    color: rgb(255, 255, 255);
    background-color:#5f1a37 ;
    
}
.table{
    color: white;
    width: 50%;
    margin: auto;
}
.table img{
    width: 150px;
    }
.menu-lateral{
    width: 20%;
}